@page
@model csci340lab7.Pages_Computers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.InitialPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.InitialPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.OperatingSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.OperatingSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.ProcessorSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.ProcessorSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Computer.MemorySize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Computer.MemorySize)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Computer?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
